run = "node --import tsx/esm src/index.ts"
entrypoint = "src/index.ts"

[nix]
channel = "stable-24_05"

[deployment]
build = ["sh", "-c", "npm install && npm run build"]
run = ["sh", "-c", "node --import tsx/esm src/index.ts"]

[env]
PORT = "3000"
